<table class="table mb-4">

  <tr>
    <th scope="row">{{@index}}</th>
    <td> {{name}}</td>
    <td> {{description}}</td>
    <td>
      <button
        type="submit"
        {{! id="deleteItem" }}
        class="btn btn-danger float-end"
        data-id="{{id}}"
      >Delete</button>

    </td>
  </tr>

</table>