
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </div>
</nav>


 <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <!-- <div class="count-particles">
      <span class="js-count-particles">--</span> particles -->
    </div>
    <div class="container ">
        <div class="row ">
            <div class="card mt-2" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1513884923967-4b182ef167ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZnJpZW5kcyUyMGhvbGlkYXl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Friends List:</h3>
                    <p class="card-text">Click on a Friend to see what they want for Christmas!</p>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each users as |user|}}
                    {{> userList}}
                    {{/each}}
                    <!-- <li class="list-group-item">Darin</li>
                    <li class="list-group-item">Sid</li>
                    <li class="list-group-item">Nicolette</li>
                    <li class="list-group-item">Kevin</li> -->
                </ul>
            </div>
            <div class="col-5 mt-2">
                <div class="card" style="width: 50rem;">
                    <div class="card-header">
                        </h3><span class="navbar-brand mb-0 h1 fs-2">My Wishlist</span></h3>
                    <ul class="list-group list-group-flush">


            <h4 class="text-center my-3 pb-3">Most Wanted!!</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="form1" class="form-control" />
                </div>
              </div>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Wishlist Item</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Item 1</td>


                {{!-- <tbody id="listTable">
                    {{#each lists as |list|}}
                    {{> renderList}}
                    {{/each}} --}}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./js/profile.js"></script>