<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav" href="#" id="myWishList">My Wishlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link nav" href="#" id="logout">Logout</a>
    </div>
  </div>
</nav>


 <!-- particles.js container -->
    <div id="particles-js"></div>
    <!-- stats - count particles -->
    <!-- <div class="count-particles">
      <span class="js-count-particles">--</span> particles -->
    
<div class="container friendParent">
        <div class="row ">
            <div class="card friend" style="width: 16rem;">
                <img src="https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"
                    class="card-img-top friendImg" alt="...">

                    <div class="mb-3">
          <input
            type="text"
            class="form-control rounded-pill mt-3"
            id="friend-search"
            placeholder="Search for friend"
          />
        </div>

         <div class="btn-submit">
          <button
            type="submit"
            class="btn btn-success rounded-pill width-100"
            id="btn-sign-in"
          >
            + Add to list
          </button>
        </div>
                <div class="card-body friendList">
                    <h4 class="card-title text-center">Friends List:</h4>
                    
                </div>
                <ul class="list-group list-group-flush friendList">
                    {{#each users as |user|}}
                    {{> userList}}
                    {{/each}}
                    <!-- <li class="list-group-item">Darin</li>
                    <li class="list-group-item">Sid</li>
                    <li class="list-group-item">Nicolette</li>
                    <li class="list-group-item">Kevin</li> -->
                </ul>
            </div>

            <div class="col-md-8  mt-2">
                <div class="card wishlist" style="width: 50rem;">
                    <div class="card-header">
                        </h3><span class="navbar-brand mb-0 h1 fs-2">{{currentFriend.username}}'s Wishlist</span></h3>
                    <ul class="list-group list-group-flush">


            <h4 class="text-center my-3 pb-3">Most Wanted!!</h4>

            <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
              <div class="col-12">
                <div class="form-outline">
                  
                </div>
              </div>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Wishlist Item</th>
                </tr>
              </thead>
              <tbody>
              
                   {{#each lists as |list|}}
                    {{> renderFriends}}
                    {{/each}}
                  


                {{!-- <tbody id="listTable">
                    {{#each lists as |list|}}
                    {{> renderList}}
                    {{/each}} --}}

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./js/profile.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/myWishList.js"></script>