<div class="container">
  <div class="row justify-content-center min-vh-100 m">
    <div class="col-5">
      <form class="form-control" id="sign-in-form">
        {{! action="/api/users/login" method="POST"  }}
        <div class="mb-3">
          <p class="text-align-center">Sign in to update your list!</p>
          <input
            type="email"
            class="form-control rounded-pill"
            id="email-login"
            aria-describedby="emailHelp"
            placeholder="Email Address"
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control rounded-pill"
            id="password-login"
            placeholder="Password"
          />
        </div>
        <div class="btn-submit">
          <button
            type="submit"
            class="btn btn-success rounded-pill width-100"
            id="btn-sign-in"
          >
            Sign In
          </button>
        </div>
        <h5><span> Not a member yet?</span></h5>
        <div class="btn-submit">
          <button
            onclick="location.href = 'http://localhost:3001/signup'"
            type="submit"
            class="btn btn-success rounded-pill width-100"
            id="btn-sign-up"
          >
            Create an Account!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>