<div class="container">
  <div class="row justify-content-center min-vh-100 m">
    <div class="col-5">
      <form class="form-control" id="signup-form">
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label"></label> -->
          <p class="text-align-center">Create Account</p>
          <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label"></label> -->
            <input
              type="text"
              class="form-control rounded-pill"
              id="username-signup"
              placeholder="Username"
            />
          </div>
          <input
            type="email"
            class="form-control rounded-pill"
            id="email-signup"
            aria-describedby="emailHelp"
            placeholder="Email Address"
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label"></label> -->
          <input
            type="password"
            class="form-control rounded-pill"
            id="password-signup"
            placeholder="Password"
          />
        </div>
        <div class="btn-submit">
          <button
            type="submit"
            class="btn btn-success rounded-pill width-100"
            id="btn-sign-in"
          >
            Create Account!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="./js/signup.js"></script>